<%- include("partials/header.ejs") %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <form action="/submit" method="POST">
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <label for="name" class="form-label">Recipe Name:</label>
              <input type="text" name="name" class="form-control">
            </div>

            <div class="mb-3">
              <label for="description" class="form-label">Recipe Description:</label>
              <input type="text" name="description" class="form-control">
            </div>

            <div class="mb-3">
              <input type="radio" name="recipeType" value="breakfast">
              <label for="breakfast">Breakfast</label><br/>
              <input type="radio" name="recipeType" value="dinner">
              <label for="dinner">Dinner</label><br/>
              <input type="radio" name="recipeType" value="dessert">
              <label for="dessert">Dessert</label>
            </div>
          </div>

          <div class="col-6">
            <div class="mb-3">
              <label for="ingredients" class="form-label">Ingredients:</label>
              <input type="text" name="ingredients" class="form-control">
            </div>

            <div class="mb-3">
              <label for="instructions" class="form-label">Instructions:</label>
              <textarea name="instructions" rows="5" class="form-control"></textarea>
            </div>
          </div>
        </div>
        
        <div class="mb-3">
          <input type="submit" value="Submit" class="form-control">
        </div>
      </form>
      <p>Browse the different recipes or add your own!</p>
    </div>
  </div>
  
</div>

<%- include("partials/footer.ejs") %>